services:
  backend:
    image: backend-flask-prod
    container_name: backend-flask
    ports:
      - "4567:4567"
    environment:
      AWS_ENDPOINT_URL: "http://dynamodb-local:8000"
      CONNECTION_URL: "postgresql://postgres:password@db:5432/cruddur"
      FRONTEND_URL: "https://${CODESPACE_NAME}-3000.${GITHUB_CODESPACES_PORT_FORWARDING_DOMAIN}"
      BACKEND_URL: "https://${CODESPACE_NAME}-4567.${GITHUB_CODESPACES_PORT_FORWARDING_DOMAIN}"
      AWS_DEFAULT_REGION: "${AWS_DEFAULT_REGION}"
      AWS_ACCESS_KEY_ID: "${AWS_ACCESS_KEY_ID}"
      AWS_SECRET_ACCESS_KEY: "${AWS_SECRET_ACCESS_KEY}"
      AWS_COGNITO_USER_POOL_ID: "${AWS_COGNITO_USER_POOL_ID}"
      AWS_COGNITO_USER_POOL_CLIENT_ID: "6bdss0f1867al22lee8jd3duku"
    networks:
      - cruddur

  frontend:
    build:
      context: ./frontend-react-js
      dockerfile: Dockerfile.prod
      args:
        REACT_APP_BACKEND_URL: "https://${CODESPACE_NAME}-4567.${GITHUB_CODESPACES_PORT_FORWARDING_DOMAIN}"
        REACT_APP_AWS_PROJECT_REGION: "${AWS_DEFAULT_REGION}"
        REACT_APP_AWS_COGNITO_REGION: "${AWS_DEFAULT_REGION}"
        REACT_APP_AWS_USER_POOLS_ID: "${AWS_COGNITO_USER_POOL_ID}"
        REACT_APP_CLIENT_ID: "6bdss0f1867al22lee8jd3duku"
    ports:
      - "3000:3000"
    networks:
      - cruddur

networks:
  cruddur:
    driver: bridge